# Deploy to Kubernetes
# Build a Docker image, push to an Azure Container Registry, and deploy it to Azure Kubernetes Service.
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master

resources:
- repo: self

variables:

  # Container registry service connection established during pipeline creation - Docker Hub/ACR/...
  dockerRegistryServiceConnection: '9a75d994-437a-4f04-9a8b-c0ce686eb876'
  imageRepository: '$(build.repository.name)'
  containerRegistryName: 'atulmakshelm'

  dockerfilePath: '**/Dockerfile'

  # Kubernetes Environment
  environmentName: 'expressAKS-dev'
  k8sResourceName: "smarthotel-web"
  k8sResourceNamespace: "smarthotel-web"

    # Docker Image Name
  imageName: 'expressdraft-demo'
  

stages:
- stage: Build
  displayName: Build stage
  jobs:  
  - job: Build
    displayName: Build job
    steps:
    - task: Docker@2
      displayName: Build and push an image to container registry
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)


